<!-- <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <div class="modal-content">
          <div class="modal-body"> -->
<!-- <div class="row justify-content-center">
              <div class="col-md-6">
            <form id="new-message-form" method="POST">
              <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
<!-- {{ form.csrf_token }}
              <div>
                {% if form.text.errors %}
                  {% for error in form.text.errors %}
                  <span class="text-danger">
                    {{ error }}
                  </span>
                  {% endfor %}
                {% endif %}
                {{ form.text(placeholder="What's happening?", class="form-control", rows="3") }}
              </div>
              <button id="add-message" class="btn btn-outline-success btn-block">Add my message!</button>
              <br> -->
<!-- <div id="alert" class="text-danger text-sm"></div> -->
<!-- </form>
            </div>
          </div> --> -->
<!-- <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
<!-- </div>
        </div>

      </div>
    </div> -->

<!-- </div> -->