<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Warbler</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
</head>

<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="/static/images/warbler-logo.png" alt="logo">
                    <span>Warbler</span>
                </a>
            </div>
    </nav>
    <div class="container text-center">
        <h1 class="display-2 border bg-secondary rounded margin-left-5">Oops! 404</h1>
        <p class="text-muted">It looks like the page you are trying to access is unavailable</p>
    </div>
    <div class="mx-auto" style="width: 500px">
        <img src="https://thumbs.gfycat.com/SlimAcclaimedAmericanindianhorse-size_restricted.gif" class="img-fluid">
    </div>
    
</body>

</html>